.limit-toolbar-container {
  display: block;
  position: relative;
  width: var(--width-base);
  height: auto;
  padding: 8px 0;
  background-color: var(--color-secondary-dark);
}

.limit-toolbar-box {
  display: block;
  position: relative;
  width: var(--width-base);
}

.limit-toolbar-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--color-neutral-white);
}

.limit-toolbar-text {
  display: inline-block;
  position: relative;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
  width: auto;
  white-space: nowrap;
  color: var(--color-neutral-white);
  opacity: 0.7;
  overflow: hidden;
  text-overflow: ellipsis;
}

.limit-toolbar-time {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  color: var(--color-neutral-white);
}

@media screen and (min-width: 768px) {
  .limit-toolbar-text,
  .limit-toolbar-time {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-small);
  }

  .limit-toolbar-container {
    padding: 8px 24px;
  }
}
