.banner-container {
  position: relative;
}

.banner-container .card-wrapper {
  gap: 32px;
}

.banner-container .card-wrapper .banner-text {
  gap: 24px;
  position: relative;
}

.banner-container .card-wrapper .banner-text .banner-title {
  font-size: var(--font-size-huge);
  font-style: normal;
  font-weight: var(--font-weight-semibold);
  line-height: 120%;
  color: var(--color-matte-white);
}

.banner-container .card-wrapper .banner-text .banner-description {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-regular);
  line-height: var(--line-height-large);
  color: var(--color-secondary-light);
}

.banner-container .card-wrapper .spacing-line {
  position: relative;
  width: var(--width-base);
  height: var(--height-super-small);
  background: var(--color-secondary-base);
  border: 1px solid var(--color-secondary-base);
  margin-block: 0px;
}

.banner-container .card-wrapper .banner-footer-flex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 32px;
  row-gap: calc(32px / 5);
  width: var(--width-base);
}

.banner-container .card-wrapper .banner-footer-flex .banner-input {
  position: relative;
  background: var(--color-secondary-dark);
  border: 1px solid var(--color-secondary-base);
}

.banner-container .card-wrapper .banner-footer-flex .banner-input input {
  color: var(--color-secondary-light);
  background: var(--color-secondary-dark);
  border: 1px solid var(--color-secondary-base);
}

.banner-container .card-wrapper .banner-footer-flex .banner-input input::placeholder {
  color: var(--color-secondary-light);
}

.banner-container .card-wrapper .banner-footer-flex .banner-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: auto;
}

.banner-container .card-wrapper .banner-footer-flex .banner-button,
.banner-container .card-wrapper .banner-footer-flex .banner-button .btn {
  width: var(--width-base);
  border: 0;
}

.banner-container .card-wrapper .banner-footer-flex .banner-input {
  width: var(--width-base);
}

@media screen and (min-width: 768px) {
  .banner-container .card-wrapper {
    gap: 24px;
  }

  .banner-container .card-wrapper .banner-text .banner-title {
    font-size: var(--font-size-huge);
    line-height: var(--line-height-huge);
  }

  .banner-container .card-wrapper .banner-text .banner-title {
    position: relative;
    max-width: 789px;
    width: var(--width-base);
    font-size: var(--font-size-huge-1);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-70);
    letter-spacing: 0;
    color: var(--color-matte-white);
  }
}

@media screen and (min-width: 992px) {
  .banner-container .card-wrapper .banner-text {
    gap: 12px;
  }

  .banner-container .card-wrapper .banner-text .banner-title {
    font-size: 42px;
    line-height: var(--line-height-70);
  }

  .banner-container .card-wrapper .banner-footer-flex {
    flex-flow: row nowrap;
    gap: 8px;
  }

  .banner-container .card-wrapper {
    gap: 32px;
  }

  .banner-container .card-wrapper .banner-footer-flex .banner-button,
  .banner-container .card-wrapper .banner-footer-flex .banner-button .btn {
    width: auto;
    padding: 24px 44px;
  }
}
