.seller-list-container {
  position: relative;
  width: var(--width-base);
  height: auto;
  overflow: hidden;
}

.seller-list-container .item-card {
  width: 100%;
}

.seller-list-container .seller-list-container-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: var(--width-base);
  height: auto;
  gap: 32px;
}

.seller-list-container .seller-list-container-box {
  flex-direction: column;
}

.seller-list-container .seller-list-container-box .best-seller-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  position: relative;
  width: var(--width-base);
  height: auto;
  color: var(--color-neutral-white);
  background: var(--color-secondary-dark);
  border-radius: 16px;
  padding: 80px 40px 80px 40px;
  overflow: hidden;
  z-index: 0;
}

.seller-list .custom-card .image-card {
  padding: 48px 56px;
}

.seller-list-container .seller-list-container-box .best-seller-card::after {
  content: '';
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 262px;
  height: 370px;
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(52, 102, 84, 0) 0%, rgba(52, 102, 84, 0.4) 100%);
  transform: rotate(5deg);
  z-index: -1;
}

.seller-list-container .seller-list-container-box .best-seller-card .best-seller-card-image {
  display: flex;
  justify-content: center;
  position: relative;
  width: var(--width-base);
  height: auto;
  margin: auto;
}

.seller-list-container
  .seller-list-container-box
  .best-seller-card
  .best-seller-card-image
  .best-product-image {
  width: 151px;
  height: 151px;
}

.seller-list-container .seller-list-container-box .best-seller-card .seller-card-content {
  flex-direction: column;
  gap: 8px;
}

.seller-list-container
  .seller-list-container-box
  .best-seller-card
  .seller-card-content
  .best-seller-cardTitle {
  position: relative;
  color: var(--color-neutral-white);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-medium);
  text-align: center;
  line-height: 1.5;
}

.seller-list-container
  .seller-list-container-box
  .best-seller-card
  .seller-card-content
  .best-seller-card-description {
  display: block;
  position: relative;
  color: var(--color-semi-transparent-white);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-small);
  text-align: center;
  width: 216px;
}

.seller-list-container
  .seller-list-container-box
  .best-seller-card
  .seller-card-content
  .best-seller-card-description
  .best-seller-card-button {
  display: block;
  position: relative;
  margin-top: 20px;
}

.seller-list-container
  .seller-list-container-box
  .best-seller-card
  .seller-card-content
  .best-seller-card-description
  .best-seller-card-button
  .base-seller-link {
  color: var(--color-primary-base);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-regular);
  text-decoration: underline;
}

.seller-list-container .seller-list-container-box .seller-list {
  position: relative;
  width: var(--width-base);
}

.seller-list-container
  .seller-list-container-box
  .seller-list
  .splide__slide
  .sell-container-box
  .sell-container-box-header
  .card-image
  .splide-product-image {
  display: block;
  position: relative;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.seller-list-container .seller-list-container-box .seller-list .splide__arrow {
  width: 36px;
  height: 36px;
  background: var(--color-neutral-white);
  box-shadow: var(--box-shadow-4);
  top: 35%;
}

.seller-list-container
  .seller-list-container-box
  .seller-list
  .splide__arrow.splide__arrow--prev
  svg {
  transform: scaleX(1);
}

@media screen and (min-width: 992px) {
  .seller-list-container .seller-list-container-box {
    flex-direction: row;
    align-items: flex-start;
  }

  .seller-list-container .seller-list-container-box .seller-list {
    width: calc(100% - 380px);
  }

  .seller-list-container
    .seller-list-container-box
    .best-seller-card
    .best-seller-card-image
    .best-product-image {
    width: 213px;
    height: 213px;
  }
}
