.category-product-container .two-row-container .left-filter-container .list-cate-item .list-check {
  gap: 16px;
}

.list-check label {
  cursor: pointer;
}

.category-product-container
  .two-row-container
  .left-filter-container
  .list-cate-item
  .list-check
  .check-item {
  gap: 12px;
}

.category-product-container
  .two-row-container
  .left-filter-container
  .list-cate-item
  .list-check
  .check-item
  .name {
  color: var(--color-neutral-mid);
  font-size: var(--font-size-medium);
}

.category-product-container
  .two-row-container
  .left-filter-container
  .list-cate-item
  .list-check
  .check-item
  .line {
  width: 1px;
  height: 11px;
  background: var(--color-matte-white);
}

.category-product-container
  .two-row-container
  .left-filter-container
  .list-cate-item
  .list-check
  .check-item
  .value {
  color: var(--color-neutral-lighter);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-small);
}

.category-product-container
  .two-row-container
  .left-filter-container
  .list-cate-item
  .list-check
  .check-item
  .radio {
  width: 20px;
  height: 20px;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--color-matte-white);
  background: var(--color-neutral-white);
}

.category-product-container
  .two-row-container
  .left-filter-container
  .list-cate-item
  .list-check
  .check-item
  .checkbox {
  width: 22px;
  height: 22px;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid var(--color-matte-white);
  background: var(--color-neutral-white);
}
