.what-make-box-container {
  margin: 64px 0;
  padding-inline: 24px;
}

.what-make-box-container .wrapper-element .reason-title {
  font-size: var(--font-size-huge);
  color: var(--color-neutral-base);
  text-align: left;
}

.what-make-box-container .wrapper-element .reason-title .reason-title-number {
  color: var(--color-other-orange);
}

.what-make-box-container .wrapper-element .reason-description {
  color: var(--color-neutral-light);
  font-size: clamp(var(--font-size-medium), 2vw, var(--font-size-normal));
  line-height: 24px;
  max-width: 789px;
  margin-top: 16px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 1200px) {
  .what-make-box-container {
    padding: 0 120px;
    margin: 120px 0;
  }

  .what-make-box-container .wrapper-element .reason-title {
    font-size: var(--font-size-huge-1);
    font-weight: var(--font-weight-semibold);
    line-height: 110%;
    width: 100%;
    max-width: 789px;
  }

  .what-make-box-container .wrapper-element .description {
    margin-top: 24px;
    margin-bottom: 64px;
  }
}
