.checkout-container {
  gap: 20px;

  .checkout-header {
    width: 100%;
    padding: 16px 24px;
    background-color: var(--color-matte-white);
    gap: 16px;

    .step-item {
      gap: 8px;

      .step-icon {
        width: 30px;
        height: 30px;
        gap: 8px;
        border-radius: 100px;
        background: var(--color-neutral-white);

        &.active {
          background: var(--color-secondary-dark);

          path {
            stroke: var(--color-neutral-white);
          }
        }

        &.complete {
          background: var(--color-secondary-light);
        }
      }

      .step-title {
        color: var(--color-secondary-dark);
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-medium);
        line-height: 150%;
        display: none;

        @media only screen and (min-width: 992px) {
          display: block;
        }
      }
    }

    .step-divider {
      height: 1px;
      background-color: var(--color-secondary-light);
      flex: 1;
      width: 74.5px;
    }
  }

  .pc-header {
    padding: 28px 15%;
  }

  .checkout-content {
    padding: 24px;
    gap: 32px;

    .cart-content {
      gap: 24px;

      .header-content {
        width: 100%;

        padding-bottom: 16px;

        border-bottom: 1px solid var(--color-neutral-lightest);

        .cart-title {
          color: var(--color-neutral-black);
          font-size: var(--font-size-xl);
          font-weight: var(--font-weight-regular);
          line-height: 150%;
        }
      }
    }
  }

  @media only screen and (min-width: 992px) {
    .checkout-content {
      padding: 32px 60px;
    }
  }

  @media only screen and (min-width: 1200px) {
    .checkout-content {
      flex-direction: row;
      width: 100%;
      padding: 32px 80px;
      align-items: flex-start;
      gap: 64px;
    }
  }
}
