.footer-container
  .footer-insider-container
  .footer-insider-box
  .footer-content
  .footer-content-item {
  position: relative;
  width: var(--width-base);
  color: var(--color-neutral-white);
}

.footer-container
  .footer-insider-container
  .footer-insider-box
  .footer-content
  .footer-content-item
  .footer-title {
  position: relative;
  color: var(--color-neutral-white);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-large);
  margin-bottom: 24px;
}

/* List styles */
.footer-container
  .footer-insider-container
  .footer-insider-box
  .footer-content
  .footer-content-item
  .list-group {
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  width: 100%;
  row-gap: 16px;
}

.footer-container
  .footer-insider-container
  .footer-insider-box
  .footer-content
  .footer-content-item
  .list-group
  .list-group-item
  .footer-link {
  position: relative;
  color: var(--color-neutral-lighter);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-small);
  text-decoration: none;
  transition: all 0.3s;
}

.footer-container
  .footer-insider-container
  .footer-insider-box
  .footer-content
  .footer-content-item
  .list-group-info
  .list-group-item
  .footer-link {
  position: relative;
  color: var(--color-neutral-lighter);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-small);
  text-decoration: none;
  transition: all 0.3s;
}

.footer-container
  .footer-insider-container
  .footer-insider-box
  .footer-content
  .footer-content-item
  .list-group
  .list-group-item:hover
  .footer-link {
  color: var(--color-neutral-white);
}

.footer-container
  .footer-insider-container
  .footer-insider-box
  .footer-content
  .footer-content-item.payment-method
  .list-group {
  flex-flow: row wrap;
  column-gap: 16px;
}

@media screen and (min-width: 992px) {
  .footer-container
    .footer-insider-container
    .footer-insider-box
    .footer-content
    .footer-content-item
    .footer-link-list-more {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
  }
}
