.navbar-container
  .navbar-box
  .navbar-box-end
  .navbar-group-info
  .navbar-item:not(:last-child)
  .item-link
  .text {
  display: none;
}

.navbar-container
  .navbar-box
  .navbar-box-end
  .navbar-group-info
  .navbar-item:not(:last-child)
  .item-link
  .icon {
  display: block;
}

.navbar-container .navbar-box .navbar-box-end .navbar-group-info {
  column-gap: 10%;
}

.navbar-container .navbar-box .navbar-box-end {
  width: calc(100% / 2);
  order: 1;
  padding-block: 14px;
  padding-right: 24px;
  font-size: var(--font-size-medium);
  color: var(--color-neutral-mid);
}

.navbar-container .navbar-box .navbar-box-end .navbar-group-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 5%;
}

.navbar-container .navbar-box .navbar-box-end .navbar-group-info .navbar-item {
  display: block;
  position: relative;
}

.navbar-divider {
  width: var(--width-super-small);
  height: var(--height-tiny);
  background: var(--color-neutral-lightest);
}

.navbar-container
  .navbar-box
  .navbar-box-end
  .navbar-group-info
  .navbar-item:not(:last-child)
  .item-link
  .icon {
  display: block;
}

.navbar-container .navbar-box .navbar-box-end .navbar-group-info .navbar-item .item-link {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-super-small);
  color: var(--color-neutral-mid);
  text-decoration: none;
  white-space: nowrap;
}

.navbar-container .navbar-box .navbar-box-end .navbar-group-info .navbar-item .product-quantity {
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 0;
  left: 13px;
  width: 15px;
  height: var(--height-tiny);
  font-size: var(--font-size-super-small);
  border-radius: var(--border-radius-large);
  color: var(--color-neutral-white);
  background-color: var(--color-other-red);
  user-select: none;
  pointer-events: none;
  top: 8px;
}

.cart-button {
  border: none;
  background: var(--color-neutral-white);
  padding: 0;
}

@media (min-width: 768px) {
  .navbar-container
    .navbar-box
    .navbar-box-end
    .navbar-group-info
    .navbar-item:not(:last-child)
    .item-link
    .text {
    display: block;
  }

  .navbar-container
    .navbar-box
    .navbar-box-end
    .navbar-group-info
    .navbar-item:not(:last-child)
    .item-link
    .icon {
    display: none;
  }

  .navbar-container .navbar-box .navbar-box-end .navbar-group-info {
    column-gap: 24px;
  }
}
