.custom-container {
  position: relative;
  max-width: 100%;
  flex: 1;
  margin: auto;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
}

.flex-space-between-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-start-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container-item {
  position: relative;
}

.box-container {
  position: relative;
  width: 100%;
  height: auto;
}

.flex-column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.scrollable-container {
  max-height: 400px;
  overflow: auto;
}

.tooltip-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.wrapper-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.relative {
  position: relative;
}

.align-center {
  display: flex;
  align-items: center;
}
