.card-box-container {
  position: relative;
  width: 100%;
  height: auto;
}

.card-box-container .header-title {
  padding-bottom: 24px;
  margin: 24px;
  border-bottom: 1px solid var(--color-neutral-lightest);
}

.card-box-container .header-title .card-title {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-xl);
  letter-spacing: -0.05px;
  font-weight: var(--font-weight-medium);
  color: var(--color-neutral-base);
}

.card-box-container .header-title .show-all {
  color: var(--color-primary-base);
  text-decoration: underline;
  font-size: var(--font-size-medium);
}

.card-box-container .card-box {
  position: relative;
  padding: 0 24px;
  margin-bottom: 64px;
}

.card-box-container .card-box .card-box-element {
  position: relative;
  border-radius: 24px;

  color: var(--color-neutral-white);
  background: var(--color-secondary-dark);
  padding: 24px;
}

.show-all-link {
  color: var(--color-primary-base);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-medium);
  text-decoration-line: underline;
}

@media screen and (min-width: 768px) {
  .card-box-container .card-box .card-box-element {
    padding: 64px;
  }
}

@media screen and (min-width: 992px) {
  .card-box-container .card-box {
    padding: 64px 120px;
  }

  .card-box-container .header-title {
    margin: 0 120px 64px 120px;
  }
}
