/* Modal Close Button */
.modal-close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  line-height: 1;
}


/* Modal Footer */
.modal-footer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

/* Confirm Button */
.modal-confirm-button {
  background-color: var(--color-blue);
  color: var(--color-primary);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

/* Cancel Button */
.modal-cancel-button {
  background-color: var(--color--light-gray);
  color: var(--color-tertiary);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
